h1 {
    color: darkred;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color:black;
    padding: 50px;
    border: 50px solid brown;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}